/* Styling Across All Pages */
body {
  background-color: rgb(72, 61, 63);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(5, 142, 217);
  border-radius: 25px;
}

header>h1 {
  margin-top: 30px;
  margin-left: 10px;
  
}

.externallinks {
  margin-top: 4px;
}
.externallinks>a>img {
  height: 75px;
  margin: a;
}

img {
  height: 300px;
  margin-right: 1em;
}

.mainsection {
  text-align: center;
}

.mainsection>div {
  background-color: rgb(244, 235, 217);
  padding: 1em;
  border-radius: 25px;
  width: 50%;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dropdown .dropbtn {
  font-size: 30px;
  font-weight: bolder;
  border: none;
  /* color: rgb(244, 235, 217); */
  padding: 1em 20px;
  background-color: inherit;
  font-family: inherit;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(244, 235, 217);
  min-width: 141.283px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a  background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(119, 104, 93);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Styling in About Page */
.hobbysubsection, .school {
  text-align: left;
}
.school>p {
  margin-top: 0;
  margin-left: 1em;
}
.school>h2 {
  margin-bottom: 0;
}

/* Styling in Portfolio Page */
.education>div, .positiondates {
  display: flex;
  justify-content: space-between;
}
.jobs {
  text-align: left;
}
.positiondates>h3 {
  margin-top: 0;
}
.jobs>h2 {
  margin-bottom: 0;
}
