body {
  background-color: rgb(72, 61, 63);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(5, 142, 217);
  border-radius: 25px;
}

header>h1 {
  margin-left: 10px;
}
header>nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-size: 24px;
}
header>nav>a {
  text-decoration: none;
  color: black;;
}
header>nav>a:hover{
  color: blue;
}

.externallinks {
  margin-top: 4px;
}
.externallinks>a>img {
  height: 75px;
  margin: a;
}

.mainsection {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainsection>img {
  height: 300px;
}
.mainsection>div {
  background-color: rgb(244, 235, 217);
  padding: 1em;
  border-radius: 25px;
}

span {
  white-space: pre;
  font-family: monospace;
  font-size: 24px;
}